
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$codium-interview-problems-primary: mat.define-palette(mat.$indigo-palette);
$codium-interview-problems-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$codium-interview-problems-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$codium-interview-problems-theme: mat.define-light-theme((
  color: (
    primary: $codium-interview-problems-primary,
    accent: $codium-interview-problems-accent,
    warn: $codium-interview-problems-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($codium-interview-problems-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

:root{
  --primary-color-bg: #8BC6EC;
  --primary-color: cadetblue;
}

html, body { height: 100% !important;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.max-content {
  height: 100%;
}

.bgc{
  background-color: var(--primary-color-bg);
}

.menu-button {
  width: 6cm;
  height: 3rem;
}

.menu-button:hover {
  background-color: gainsboro;
}

.mat-raised-button.mat-primary,
.mat-flat-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  width: min-content;
  color: #f0fff3;
  background-color: var(--primary-color);
}

.mat-form-field.mat-focused {
  .mat-form-field-label {
    color: var(--primary-color);
  }
  .mat-form-field-ripple {
    background-color: var(--primary-color);
  }
  .mat-form-field-required-marker {
    color: var(--primary-color);
  }
}